{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "transform-react-jsx",
    "syntax-object-rest-spread",
    "transform-object-rest-spread",
    "typecheck",
    "syntax-flow",
    "transform-flow-strip-types",
    "transform-decorators-legacy",
    "syntax-class-properties",
    "transform-class-properties",
    "syntax-decorators",
    "transform-decorators",
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": [
          "Error",
          "Array"
        ]
      }
    ]
  ]
}